@import url(../css/common.css);
@import url(../css/header.css);
@import url(../css/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'SDSwaggerTTF';
  src: url('../font/SDSwaggerTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h3{
  font-family: 'SDSwaggerTTF';
  font-size: 20px;
  font-size: 1.5rem;
  padding: 10px 0;
  margin-left: 10px;
  text-shadow: 10px 10px 5px #a8a7a7;
}

/* 비주얼 영역 */

#visual{
  width: 100%;
  height: 19.38rem;
}
#visual .in_visual{
  width: 100%;
  height: 100%;
}
.in_visual img{
  width: 100%;
  height: 100%;
}
/* 섹션 영역 */
section{padding: 1.625rem 0;}
/* ________________________________________section 1 */
.s1_box{
  padding: 1rem 0;
  box-sizing: border-box;
}
.s1_box span{
  font-family: 'Gothic A1', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 0.81rem;
  line-height: 1rem;
}

.slide_content{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.slide_content>img{
  width: 50%;
}
.content_intxt{
  width: 50%;
  padding: 0.625rem;
}
.content_intxt p{
  font-size:1rem;
  font-family: 'Gothic A1', sans-serif;
  font-weight: bold;
  padding-bottom: 0.3125rem;
  text-align: center;
}
/* ____________________플러그인 영역______________________ */

.gallery1 { overflow:hidden; position:relative; margin:0 auto; width:100%; height:18.75rem; /* border:1px dashed skyblue; */ } /* 갤러리 전체영역 설정 */
.gallery1 .nav1 { position: absolute; left:0px; bottom:0px; text-align: center;  z-index: 10; } /* 메뉴영역 설정 */
.gallery1 .nav1 .swiper-pagination-bullet { background-color:orange; opacity:0.5; width:10px; height:10px; margin-left:5px; border-radius:0; } /* 메뉴 설정 */
.gallery1 .nav1 .swiper-pagination-bullet-active{ background-color:blue; opacity:1; } /* 메뉴on 설정 */
.gallery1 .swiper-button-prev, 
.gallery1 .swiper-button-next { position:absolute; top:50%; width:27px; height:44px; margin-top:-22px; z-index:10; cursor:pointer; background-size:cover; }
.gallery1 .swiper-button-prev { left:50px; /* background:url(); */ } /* 이전버튼 */
.gallery1 .swiper-button-next { right:50px; /* background:url(); */ } /* 다음버튼 */

/* ____________________플러그인 영역 마무리_________________________ */

/* ________________________________________section 2 */
.s2_box{
  width: 100%;
}
.forget_C ul{
  width: 90%;
  margin: 0 auto;
}
.forget_C ul li{margin-top: 1.25rem;}

.txt_box p{
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0.625rem 0;
  background-color: #2f2f2f;
  color: #C4C4C4;
}
.txt_box span{font-size: 1rem;}
/* ________________________________________section 3 */
.webFiction_btn{
  width: 80%;
  height: 1.875rem;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800;
  background: #FAE101;
  margin: 0.625rem auto;
  text-align: center;
  line-height: 1.875rem;
  border-radius: 1.25rem;
  color:#2f2f2f;
}



